<nav>
  <ul>
    <li><a href="/store">Home</a></li>
    <li><a href="/store/coffees">Coffees</a></li>
    <li><a href="/store/roasts">Roasts</a></li>
    <li><a href="/store/flavors">Flavors</a></li>
  </ul>
  <ul class="nav-new">
    <li><a href="/store/coffee/create">Add New Coffee</a></li>
    <!-- <li><a href="/store/roast/create">Add New Roast</a></li> -->
    <li><a href="/store/flavor/create">Add New Flavor</a></li>
  </ul>
</nav>