<% layout('layout') -%>
<div class="container">
  <h1><%= title %></h1>
  <div class="banner">
    <h2>What We Have In Stock</h2>
    <ul class="list">
      <li>Coffees in Stock: <%= data.coffee_count %></li>
      <li>Assortment of Roasts: <%= data.roast_count %></li>
      <li>Different Available Flavors: <%= data.flavor_count %></li>
    </ul>
  </div>
</div>